.component {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex start;
    background: url("../../media/812062.png");
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: rgba(61, 61, 61, 0.377);
    height: 20vh;
}

.results {
    width: 100vw;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    background: transparent;
    flex-wrap: wrap;
}