.component {
    display: flex;
    justify-content: center;
}

.results {
    width: 100vw;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    background: yellow;
    flex-wrap: wrap;
}